{{!-- Previous/next page links - only displayed on page 2+ --}}
<section class="___articulos___">
{{#foreach posts}}
{{!-- Primer Articulo --}}
  <article class="articulo__item {{post_class}} {{#if @first}} first-post inner" style="background-image: url({{image}}){{/if}}" data-tag="{{#if tags}}{{#foreach tags limit="1"}}{{name}}{{/foreach}}{{/if}}">
  {{#if @first}}
    <header>
    <h2 class="articulo-item-titulo" >
        <a class="articulo-item-vinculo" href="{{url}}">{{title}}</a>
    </h2>
    </header>
    <section class="articulo-item-extracto">
      {{excerpt words="60"}}...
    </section>
    <footer>
      <span class="articulo-item-meta"> 
      {{#author}}
        {{#if image}}
        <img src="{{image}}" alt="{{name}}'s Picture" />
        {{/if}}
        <small><a href="{{url}}">{{name}}</a></small>
      {{/author}} 
      <time datetime="{{date format="YYYY-MM-DD"}}"> <i class="fa fa-calendar-o"></i> <small>{{date format="DD MMMM YYYY"}}</small></time></span>
    </footer>
  {{!--Fin Primer Articulo --}}
  {{else}}
    <header class="articulo-item-header">
    {{#if image}}
    <figure class="articulo-item-imagen">
      <img src="{{image}}" alt="imagen - {{ title }}">
    </figure>
    {{/if}}
      <h2 class="articulo-item-titulo" >
        <a class="articulo-item-vinculo" href="{{ url}}">{{ title }}</a>
      </h2>
      <span class="articulo-item-meta">
        {{#author}}
          {{#if image}}
          <img src="{{image}}" alt="{{name}}'s Picture" />
          {{/if}}
          <small><a href="{{url}}">{{name}}</a></small>
        {{/author}} 
      <time datetime="{{date format="YYYY-MM-DD"}}"> <i class="fa fa-calendar-o"></i> <small>{{date format="DD MMMM YYYY"}}</small></time>
      <a class="cantidad-comentarios" href="{{url}}#disqus_thread"></a>
      </span>
    </header>
    <section class="articulo-item-extracto">
      {{excerpt words="50"}}...
    </section>
    <footer class="articulo-item-footer">
      <a class="btn btn-home" href="{{url}}">Seguir Leyendo <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </footer>
  {{/if}}
  </article>
{{/foreach}}
</section>

{{pagination}}
