{{!-- Loop Posts --}}
<section class="___articulos___">
{{#foreach posts}}
{{!-- Primer Articulo --}}
  <article {{#if @first}}class="articulo__item first-post inner" {{#if image}}style="background-image: url({{image}})"{{/if}} {{#if tags}}data-tag="{{#foreach tags limit="1"}}{{name}}{{/foreach}}"{{/if}}{{else}}class="articulo__item {{post_class}}"{{/if}}>
  {{#if @first}}
    <header>
      <h2 class="articulo-item-titulo">
        <a class="articulo-item-vinculo" href="{{url}}">{{title}}</a>
      </h2>
    </header>
    <section class="articulo-item-extracto">
      <p>{{excerpt words="60"}}...</p>
    </section>
    <footer>
      <span class="articulo-item-meta"> 
        {{#author}}
          {{#if image}}
          <img src="{{image}}" alt="{{name}}'s Picture" />
          {{/if}}
          <small><a href="{{url}}">{{name}}</a></small>
        {{/author}} 
        <time datetime="{{date format="YYYY-MM-DD"}}"> <i class="fa fa-calendar-o"></i> <small>{{date format="DD MMMM YYYY"}}</small></time>
      </span>
    </footer>

  {{else}}
    {{!-- Segundo articulo a N --}}
    <header class="articulo-item-header">
    <figure class="articulo-item-imagen">
      {{#if image}}
      <div class="img" style="background-image: url({{image}})"></div>
      {{else}}
      <div class="img" style="background-image: url({{asset "images/cover_default.jpg"}})"></div>
      {{/if}}
    </figure>
      <h2 class="articulo-item-titulo">
        <a class="articulo-item-vinculo" href="{{url}}">{{title}}</a>
      </h2>
      <span class="articulo-item-meta">
        {{#author}}
          {{#if image}}
          <img src="{{image}}" alt="{{name}}'s Picture" />
          {{/if}}
          <small><a href="{{url}}">{{name}}</a></small>
        {{/author}} 
      <time datetime="{{date format="YYYY-MM-DD"}}"> <i class="fa fa-calendar-o"></i> <small>{{date format="DD MMMM YYYY"}}</small></time>
      <a class="cantidad-comentarios" href="{{url}}#disqus_thread"></a>
      </span>
    </header>
    <section class="articulo-item-extracto">
      <p>{{excerpt words="50"}}...</p>
    </section>
    <footer class="articulo-item-footer">
      <a class="btn btn-home" href="{{url}}">Seguir Leyendo <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </footer>
  {{/if}}
  </article>
{{/foreach}}
</section>
{{!-- Paginación --}}
{{pagination}}
