<div id="header" class="site-header headroom">
  <div class="content__nav wrapper">
    {{#if @blog.logo}}
    <figure class="figure-logo" id="js_img_logo">
      <a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
    </figure>
    {{/if}}
    <nav class="nav">
      <ul class="nav-list">
        {{#foreach navigation}}
            <li class="lista-item nav-{{slug}}" role="presentation">
            {{#if current}}
                <span class="active link" title="{{label}}">{{label}}</span>
            {{else}}
              <a class="link" href="{{url absolute="true"}}" title="{{label}}">
               {{label}}
              </a>
            {{/if}}
            </li>
        {{/foreach}}
      </ul>
    </nav>
    <div class="icons-box">
      <a href="/lista-articulos" class="icon-buscador fa fa-search" title="Buscador" id="js_icon_buscador" aria-hidden="true"></a>
      <a href="javascript:void(0)" class="icon-menu" id="js_icon_menu">
        <span class="ico"></span>
      </a>
    </div>
  </div>
</div>
<!-- Menú web mobile -->
  <nav class="menu-mobile animated" id="js_menu_mobile" style="display: none;">
      <i class="fa fa-times icon-cerrar" id="js_icon_cerrar"  aria-hidden="true" title="Cerrar"></i>
      <a href="{{@blog.url}}"><img class="logo-menu-mobile" src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
     <ul class="menu-mobile-list">
        {{#foreach navigation}}
            <li class="item nav-{{slug}}" role="presentation">
            {{#if current}}
                <span class="active link">{{label}}</span>
            {{else}}
              <a class="link" href="{{url absolute="true"}}">
               {{label}}
              </a>
            {{/if}}
            </li>
        {{/foreach}}
     </ul>
  </nav>