<nav class="caja___menu overlay">
  <div class="caja__menu__inner contenedor flex wrap jcsb">
    {{#if @blog.logo}}
    <a class="logo-link" href="{{@blog.url}}" title="{{@blog.title}}">
      <figure class="logo-figure">
        <img src="{{@blog.logo}}" alt="{{@blog.title}}">
      </figure>
    </a>
    {{else}}
    <a class="logo-link" href="{{@blog.url}}" title="{{@blog.title}}">
      <span class="titulo-blog">{{@blog.title}}</span>
    </a>
    {{/if}}
    <ul class="nav no-lista flex aicenter">
        <li class="nav-item">
          <a class="nav-link" href="{{@blog.url}}/digital-ocean/">Digital Ocean</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{@blog.url}}/contacto/">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{@blog.url}}/sobre-mi/">Sobre mí</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="js_icon_menu" href="javascript:void(0)"><span class="icon-th-menu"></span></a>
        </li>
    </ul>
  </div>
</nav>
{{!--Menú Mobile--}}
<div class="menu___mobile animated" id="js_menu_mobile" style="display:none;">
    <i class="icon-close icon-cerrar" id="js_icon_cerrar" title="Cerrar"></i>
    <a class="titulo-blog" href="{{@blog.url}}" title="{{@blog.title}}">
        {{@blog.title}}
    </a>
   <ul class="nav__mobile no-list">
      <li class="nav-item">
        <a class="nav-link" href="{{@blog.url}}/digital-ocean/"><span class="icon-server"></span>&nbsp; &nbsp;Digital Ocean</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{@blog.url}}/contacto/"><span class="icon-contact_mail"></span>&nbsp;&nbsp;Contacto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{@blog.url}}/sobre-mi/"><span class="icon-avatar"></span>&nbsp;&nbsp;Sobre mí</a>
      </li>
   </ul>
</div>