{{!< default}}
{{#post}}
<header class="main-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    {{navigation}}
 </header>
<main class="relleno-superior relleno-inferior" role="main">
<div class="contenedor___post contenedor">
    <article class="{{post_class}}">
        <header class="page-header">
            <h1 class="post-title">{{title}}</h1>
        </header>
        <section class="post-content">
            {{content}}
        </section>
    </article>
    {{> "aside"}}
</div>
</main>
{{/post}}
