{{!< default}}
{{#post}}
<!-- Header principal -->
<header class="main-header {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
{{!-- Links de Navegación del Blog --}}
<div id="header" class="site-header headroom">
    {{navigation}}
</div>
</header>
<main class="relleno-superior relleno-inferior" role="main">
<div class="contenedor___post contenedor">
    <article class="{{post_class}}">
        <header>
            <h1 class="post-title">{{title}}</h1>
            <p class="post-meta">
                <i class="fa fa-calendar-o"></i> <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">
                {{date format="DD MMMM YYYY"}}</time> &nbsp;{{#if tags}} <i class="fa fa-tags" aria-hidden="true"></i> <span class="post-tag">{{tags separator=" " limit="4"}}</span>{{/if}}
            </p>
            <div class="addthis_sharing_toolbox"></div>
        </header>
        <section class="post-content">
            {{content}}
        </section>
        <div align="center" class="pub-all">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- publisher-footer-web -->
        <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-3311622925293570"
                 data-ad-slot="2571465647"
                 data-ad-format="auto"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        </div>
        <h3>Te gusto este artículo, ayudame compartiéndolo :)</h3>
        <div class="addthis_sharing_toolbox"></div>

        <footer class="post-footer">

        {{!-- Everything inside the #author tags pulls data from the author --}}
        {{#author}}

            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Leer <a href="{{url}}">más posts</a> de este autor.</p>
                {{/if}}
                <ul class="author-links">
                    {{#if location}}
                      <li>
                        <i class="ion-ios-location"></i>
                        <span>{{location}}</span>
                      </li>
                    {{/if}}
                    {{#if website}}
                      <li>
                        <i class="ion-android-globe"></i>
                        <a href="{{website}}" target="_blank">{{website}}</a>
                      </li>
                    {{/if}}
                    {{#if twitter}}
                      <li>
                        <i class="ion-social-twitter"></i>
                        <a href="{{twitter_url}}" target="_blank">{{twitter}}</a>
                      </li>
                    {{/if}}
                    {{#if facebook}}
                      <li>
                        <i class="ion-social-facebook"></i>
                        <a href="{{facebook_url}}" target="_blank">{{@blog.facebook}}</a>
                      </li>
                    {{/if}}
                </ul>
            </section>

        {{/author}}

        {{!-- Email subscribe form at the bottom of the page --}}
        {{#if @labs.subscribers}}
        <section class="gh-subscribe">
            <h3 class="gh-subscribe-title">Suscribirse a {{@blog.title}}</h3>
            <p>Obtén los últimos mensajes publicados directamente en tu bandeja de entrada.</p>
            {{subscribe_form placeholder="Your email address"}}
            <span class="gh-subscribe-rss">O suscríbase <a href="http://cloud.feedly.com/#subscription/feed/{{@blog.url}}/rss/">vía RSS</a> con Feedly!</span>
        </section>
        {{/if}}
        </footer>
        {{!-- Links to Previous/Next posts --}}
        <aside class="read-next">
            {{#next_post}}
            <a class="read-next-story next {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
                <h4 class="title-read-next">{{title}}</h4>
                <p class="parrafo-read-next">{{excerpt words="19"}}&hellip;</p>
            </a>
            {{else}}
            <span class="read-next-story next" style="background-image: url({{asset "images/404.jpg"}})">
                <button class="btn btn-read-next">Previous</button>
                <p class="parrafo-next">No hay más posts</p>
            </span>
            {{/next_post}}

            {{#prev_post}}
            <a class="read-next-story prev {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}" href="{{url}}">
                <h4 class="title-read-next">{{title}}</h4>
                <p class="parrafo-read-next">{{excerpt words="19"}}&hellip;</p>
            </a>
            {{else}}
            <span class="read-next-story prev" style="background-image: url({{asset "images/404.jpg"}})">
                <button class="btn btn-read-next">Next</button>
                <p class="parrafo-prev">No hay más posts</p>
            </span>
            {{/prev_post}}
        </aside>

        <h2>Comparte tu opinión</h2>
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </article>
    {{> "aside"}}
</div>
</main>
{{/post}}
