<!DOCTYPE html>
<html lang="es-PE">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Suscribete a nuestro newsletter</title>
  <meta name="description" content="Suscribirse al blog de 01LuisRene para recibir las ultimas noticias sobre publicaciones de artículos web en tu bandeja de correo electrónico" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  {{!-- Brand icon --}}
  <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}" />
  <!-- Estilo Importante -->
  <link rel="stylesheet" href="{{asset "css/style.css"}}" />
  <!--[if IE]>
  <meta name="X-UA-Compatible" content="IE=edge">
  <![endif]-->
  <!-- Código CSS importante -->

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <style>body{padding-top: 0 !important; overflow: hidden;}</style>
  <![endif]-->
  {{!-- Ghost outputs important style and meta data with this tag --}}
  {{ghost_head}}
</head>
<body>
<!--[if lt IE 9]>
<div class="browser-antiguo">
    <p class="browserupgrade">Está utilizando un navegador <strong>antiguo</strong>. Por favor <a href="http://browsehappy.com/">actualice su navegador</a> para mejorar su experiencia.</p>
</div>
<![endif]--> 
<header class="main-header suscribete-head">
    {{navigation}}
</header>
<main class="main">
  {{#if success}}
    <article class="contenedor-suscribete inner">
      <header>
          <h1 class="post-titulo">Suscripción Exitosa!</h1>
          <div class="addthis_sharing_toolbox compartir-redes-sociales"></div>
          <p>Gracias por suscribirte al blog.<br> Ahora podrás mantenerte informado de las nuevas publicaciones del blog 01luisrene.</p>
      </header>
      <section>
          <ul class="code">
            <li>
              <img src="{{asset "images/code_lang/corchete_left.png"}}" alt="Corchete Left">
            </li>
            <li>
              <a href="/tag/html/" title="HTML5"><img src="{{asset "images/code_lang/html.png"}}" alt="HTML"></a>
            </li>
            <li>
              <a href="/tag/css/" title="CSS3"><img src="{{asset "images/code_lang/css.png"}}" alt="CSS"></a>
            </li>
            <li>
              <a href="/tag/python/" title="PYTHON"><img src="{{asset "images/code_lang/python.png"}}" alt="PYTHON"></a>
            </li>
            <li>
              <a href="/tag/javascript/" title="JavaScript"><img src="{{asset "images/code_lang/javascript.png"}}" alt="JavaScript"></a>
            </li>
            <li>
              <a href="/tag/responsive-design/" title="Responsive Design"><img src="{{asset "images/code_lang/responsive_design.png"}}" alt="Responsive Design"></a>
            </li>
            <li>
              <img src="{{asset "images/code_lang/corchete_right.png"}}" alt="Corchete Right">
            </li>
          </ul>
      </section>
    </article>
  {{else if error}}
    <article class="contenedor-suscribete inner">
      <header>
          <h1 class="post-titulo">Error!</h1>
      </header>
      <section>
        {{subscribe_form autofocus="true"}}
      </section>
    </article>
  {{else}}
    <article class="contenedor-suscribete inner">
      <header>
          <h1 class="post-titulo">Suscribete a Nuestro Newsletter </h1>
      </header>
      <div class="addthis_sharing_toolbox compartir-redes-sociales"></div>
      <section>
        {{subscribe_form autofocus="true"}}
      </section>
    </article>
  {{/if}}
</main>

{{!-- Footer 01luisrene --}}
{{> "footer"}}

{{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
{{!-- Ghost outputs important scripts and data with this tag --}}
{{ghost_foot}}
{{!-- The main JavaScript file for 01luisrene --}}
<script src="{{asset "js/app.min.js"}}" type="text/javascript"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57004124cf559f51"></script>
{{!-- Agregando CSS dinámicamente --}}
<script>
  (function(){
    document.addEventListener('DOMContentLoaded', css, false);
    function css() {
      cargarCSS('{{asset "css/screen.css"}}');
      cargarCSS('{{asset "css/vendor.css"}}');
      cargarCSS('//use.fontawesome.com/40d6f03eee.css');
      cargarCSS('//fonts.googleapis.com/css?family=Noto+Sans:400,700');
      cargarCSS('//fonts.googleapis.com/css?family=Lato:300,400,700');
    }
    function cargarCSS(href) {
      'use strict';
      var css = window.document.createElement('link');
      var ref = document.querySelector('head').lastChild;
      css.rel = 'stylesheet';
      css.type = 'text/css';
      css.href = href;
      css.media = 'all';
      ref.parentNode.insertBefore(css, ref);
      return css;
    }
  })();
</script>
</body>
</html>