{{!< default}}
<header class="main-header suscribete-head">
    {{navigation}}
</header>
<main class="main">
  {{#if success}}
    <article class="contenedor-suscribete inner">
      <header>
          <h1 class="post-titulo">Suscripción Exitosa!</h1>
          <div class="addthis_sharing_toolbox compartir-redes-sociales"></div>
          <p>Gracias por suscribirte al blog.<br> Ahora podrás mantenerte informado de las nuevas publicaciones del blog 01luisrene.</p>
      </header>
      <section>
          <ul class="code">
            <li>
              <img src="{{asset "images/code_lang/corchete_left.png"}}" alt="Corchete Left">
            </li>
            <li>
              <a href="/tag/html/" title="HTML5"><img src="{{asset "images/code_lang/html.png"}}" alt="HTML"></a>
            </li>
            <li>
              <a href="/tag/css/" title="CSS3"><img src="{{asset "images/code_lang/css.png"}}" alt="CSS"></a>
            </li>
            <li>
              <a href="/tag/python/" title="PYTHON"><img src="{{asset "images/code_lang/python.png"}}" alt="PYTHON"></a>
            </li>
            <li>
              <a href="/tag/javascript/" title="JavaScript"><img src="{{asset "images/code_lang/javascript.png"}}" alt="JavaScript"></a>
            </li>
            <li>
              <a href="/tag/responsive-design/" title="Responsive Design"><img src="{{asset "images/code_lang/responsive_design.png"}}" alt="Responsive Design"></a>
            </li>
            <li>
              <img src="{{asset "images/code_lang/corchete_right.png"}}" alt="Corchete Right">
            </li>
          </ul>
      </section>
    </article>
  {{else if error}}
    <article class="contenedor-suscribete inner">
      <header>
          <h1 class="post-titulo">Error!</h1>
      </header>
      <section>
        {{subscribe_form autofocus="true"}}
      </section>
    </article>
  {{else}}
    <article class="contenedor-suscribete inner">
      <header>
          <h1 class="post-titulo">Suscribete a Nuestro Newsletter </h1>
      </header>
      <div class="addthis_sharing_toolbox compartir-redes-sociales"></div>
      <section>
        {{subscribe_form autofocus="true"}}
      </section>
    </article>
  {{/if}}
</main>